.HFInput {
  width: 100%;

  .MuiFormControl-root {
    position: relative;
    width: 100%;
    .MuiInputBase-root {
      height: 35px;
      border-radius: 8px;
      border: 1px solid var(--border);
    
      fieldset {
        border: none;
      }

      &.Mui-focused {
        .MuiOutlinedInput-notchedOutline {
          border: none;
          outline: none;
        }
        border-color: var(--main);
      }

      .Mui-disabled {
        cursor: default;
        background-color: var(--border);
      }
    }

    .MuiFormHelperText-root {
      color: var(--error);
      position: absolute;
      bottom: -18px;
      left: -10px;
      font-size: 12px;
    }
    &.error {
      .MuiOutlinedInput-notchedOutline {
        border-color: red !important;
      }
    }
  }

  .visibility {
    position: absolute;
    right: 10px;
    top: 38px;
    cursor: pointer;
  }
}

.HFTextarea {
  width: 100%;
  textarea {
    all: unset;
    word-break: break-all;
    width: 100%;
    height: 100%;
    background-color: white;
    outline: none;
    border: none;
    object-fit: cover;
  }
}
