$maxWidthContainer: 1800;

@mixin adapviteValue($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        //faqat containerdan kichik width
        #{$property}: $startSize + px;

        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 1000px) / #{$maxWidthContainer - 1000}));
        }
    } @else if $type==2 {
        // faqat containerdan katta width
        #{$property}: $startSize + px;

        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
        }
    } @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
    }
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;

    .main-title {
        @include adapviteValue(font-size, 120, 44, 1);
    }

    .main-sub-text {
        @include adapviteValue(font-size, 60, 30, 1);
    }

    .title {
        @include adapviteValue(font-size, 36, 20, 1);
    }

    .sub-text {
        @include adapviteValue(font-size, 28, 20, 1);
        margin-top: 10px;
    }
}

@media (max-width: 1000px) {
    .card {
        .sub-text {
            margin-top: 0;
        }
    }
}

.card.rotated {
    transform: rotateY(180deg);
}

.frontofcard,
.backofcard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.backofcard {
    transform: rotateY(180deg);
    left: 0;
    top: 0;
    z-index: 3;
}

.table {
    .title {
        @include adapviteValue(font-size, 30, 19, 1);
        font-weight: bold;
    }
    .text {
        @include adapviteValue(font-size, 28, 19, 1);
        font-weight: bold;
    }
    .footer_text {
        @include adapviteValue(font-size, 38, 22, 1);
        font-weight: bold;
    }
}

.card {
    border-radius: 8px;
    display: flex;
    border: 1px solid var(--border);
    // flex-direction: column;

    .name {
        border-radius: 100%;
        border-radius: 12px;
        // padding: 6px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 {
            @include adapviteValue(font-size, 32, 16, 1);
            font-weight: 600;
            // letter-spacing: 2px;
            // line-height: 32px;
        }
        h4 {
            @include adapviteValue(font-size, 32, 16, 1);
            font-weight: 600;
            // letter-spacing: 2px;
            // line-height: 24px;
        }
    }

    .count {
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        p {
            @include adapviteValue(font-size, 32, 16, 1);
            border-radius: 8px;
            background-color: #6cce6511;
            font-weight: bold;
            color: #6cce65;
            padding: 0 12px;

            display: flex;
            justify-content: center;

            @media (max-width: 1280px) {
                padding: 0 4px;
            }
        }
    }
}
