.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: auto;

  .card {
    border: none;
    background-color: white !important;
   
    // background-color: red;
    // max-height: 580px;
    // overflow-y: scroll;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 4px 8px;

      .cardTitle {
        font-weight: 600;
        color: var(--black);
      }

      .closeButton {
        position: absolute;
       
        &:hover {
          background-color: transparent;
        }
        top: 5px;
        right: 4px;
        svg {
          transition: 0.5s;
        }
        &:hover {
          svg {
            transform: rotate(90deg);
          }
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;

      .button {
        flex: 1;
      }
    }
  }
}
