.limitBtn {
  @include center-center;
  cursor: pointer;
  border: 1px solid var(--gray20);
  padding: 0 8px;
  border-radius: 4px;
  height: 35px;
  .text {
    font-weight: 500;
    font-size: 12px;
  }
}
.limitsList {
  list-style-type: none;
  @include center-center;
  @include column;
  width: 70px;
  @include remove-scroll;

  li {
    padding: 5px 16px;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:first-child {
      padding-top: 10px;
    }
    &:last-child {
      padding-bottom: 10px;
    }
    &:hover {
      background-color: var(--border);
    }
  }
}
