.machine-card {
  /* margin-bottom: 20px; */
  transition: background-color 0.3s ease;
}

.custom.cardinside {
  padding-top: 0px;
}
.custom.green {
  background-color: #6cce65;
}
.custom.orange {
  background-color: #ff9c27;
}

.custom.purple {
  background-color: #8099f1;
}

.custom.grey {
  background-color: var(--gray30);
}

.custom.red {
  background-color: #ff6060;
}

.custom.black {
  background-color: rgba(0, 0, 0, 0.4);
}

.MuiCircularProgress-root.cardinside {
  padding-top: 0px;
}
.MuiCircularProgress-root.green {
  background-color: #6cce65 !important;
}
.MuiCircularProgress-root.orange {
  background-color: #ff9c27 !important;
}

.MuiCircularProgress-root.purple {
  background-color: #8099f1 !important;
}

.MuiCircularProgress-root.grey {
  background-color: var(--gray30) !important;
}

.MuiCircularProgress-root.red {
  background-color: #ff6060 !important;
}

.MuiCircularProgress-root.black {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
/* 
.MuiCard-root {
  .MuiTypography-root.MuiTypography-body-md {
    @media (max-width: 1400px) {
      font-size: 12px;
    }
  }
} */