@mixin hover-style {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--primary);
        bottom: 0;
    }
    &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: var(--primary);
        bottom: -3px;
        border-radius: 100%;
    }
    &.down {
        &::after {
            bottom: auto;
            top: 0;
        }
        &::before {
            bottom: auto;
            top: -3px;
        }
    }
}

.customTable {
    .cellFirst {
        width: 400px;
    }
    .cell {
        width: 200px;
        border-bottom: 1px solid var(--border);

        &:first-child {
            width: 25%;
        }
    }
}

.c-table {
    .header {
        max-height: 30px !important;
        height: 30px !important;
    }

    tr {
        border: none;
        // td {
        //     border: none;
        //     &:nth-child(2) {
        //         width: 140px !important;
        //     }
        //     &:nth-child(3) {
        //         width: 170px !important;
        //     }
        //     &:nth-child(4) {
        //         width: 70px !important;
        //     }
        // }
    }
    .cell {
        font-size: 13px;
        white-space: nowrap;
    }
    .ccell {
        width: 35% !important;
    }
    tbody {
        tr {
            border-radius: 10px !important;
            ts {
                border-radius: 10px !important;
            }
        }
    }
}

.cdraganddrop {
    .row {
        border-radius: 8px;
        overflow: hidden;
    }
    .cell {
        border-radius: 8px;

        &:first-child {
            border-top-left-radius: 8px;
        }
        p {
            min-width: 100px;
            background-color: white;
            height: 100%;
            padding: 6px 8px;
        }
    }

    .hover-trigger:hover {
        @include hover-style;
    }

    .hovered-step {
        @include hover-style;
    }

    .MuiDivider-wrapper {
        .MuiChip-label {
            padding: 0;
        }
    }
}
