#table {
  .MuiList-root {
    .MuiButtonBase-root {
      display: flex;
      justify-content: space-between !important;
    }
  }
}

.cnewtable {
  background-color: white;

  
  .CTableContainer {
    width: 100%;
    .table {
      width: 100%;
      position: relative;
      color: var(--main);
      background-color: white;
  
      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
      }
    }
  }
  .table__pagination {
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    min-height: 35px;
    @include center;
    padding: 0 16px;
    position: absolute;
    bottom: -35px;
    width: 100%;
    background-color: white;
  
    .MuiPagination-ul {
      display: flex;
      gap: 3px;
      @include remove-scroll;
      .MuiPaginationItem-page {
        background-color: transparent;
        font-size: 12px;
        font-weight: 500;
      }
      .MuiButtonBase-root {
        cursor: pointer;
        svg {
          display: none;
        }
      }
      li {
        position: relative;
        z-index: 2;
        cursor: pointer;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        @include center-center;
  
        button {
          color: var(--gray);
        }
  
        .Mui-selected {
          color: var(--main);
          font-weight: 600;
        }
      }
      li:first-child {
        border: 1px solid var(--gray20);
        button {
          background-image: url("/svg/arrow-left.svg");
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 0 !important;
        }
      }
      li:last-child {
        border: 1px solid var(--gray20);
        button {
          background-image: url("/svg/arrow-right.svg");
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 0 !important;
        }
      }
    }
  }
  
  .CTableHead {
    position: sticky;
    top: 0px;
    z-index: 3;
    height: auto;
  
    th {
      padding: 0  !important;
      border-right: 0 !important;
      border-bottom: 1px solid var(--gray20);
      font-size: 12px;
      font-weight: 400 !important;
      border-radius: 0 !important;
      color: var(--main);
      &:last-child {
        border-right: none;
      }
    }
  }
  
  .CTableCell {
    padding: 0 8px !important;
    background-color: transparent !important;
    color: var(--black);
    border-right: 0 !important;
    border-bottom: 1px solid var(--gray20);
  
    &:first-child {
      margin-top: 30px;
      border-left: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
  
  .MuiTableRow-root {
    height: 35px !important;
  
    // &:last-child {
    //   .CTableCell {
    //     border-bottom: 0;
    //   }
    // }
    opacity: 0;
    animation-duration: 200;
    &.effect {
      opacity: 100;
    }
  
    &.clickable {
      cursor: pointer;
      transition-duration: 0.2s;
      &:hover {
        background-color: var(--primary50);
      }
    }
  }
  
  .CTableBody {
    z-index: 1;
  }
  
  #table {
    .CTableContainer {
      border-radius: 4px !important;
      box-shadow: none;
    }
  }
  
  thead {
    height: 50px;
    th {
      position: relative;
      padding: 0 !important;
      .cell {
        color: var(--main);
        font-weight: 400;
        width: 100%;
        @include center;
        position: relative;
      }
  
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
  
  .resizer {
    position: absolute;
    top: -3px;
    right: -10px;
    width: 20px;
    cursor: col-resize;
    user-select: none;
    height: 30px !important;
    z-index: 2;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: var(--border);
      }
    }
  }
  .resizer:hover,
  .resizing {
    background-image: url("/svg/expandSide.svg");
    background-repeat: no-repeat;
  }
  
  .resizable {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    position: relative;
  }
  
  #tableActions {
    position: relative;
    @include center-center;
    gap: 12px;
    .delete,
    .edit {
      width: 28px;
      height: 28px;
      @include center-center;
      border-radius: 4px;
      svg {
        transition: 0.3s;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
    .edit {
      color: #111;
    }
    .delete {
      color: red;
    }
    .popover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      top: -10px;
      height: 100%;
      z-index: 99;
    }
  }
  .MuiPaper-root {
    background-color: transparent !important;
  }
  
  .drag-and-drop {
    background-color: var(--border);
    position: relative;
  }
  
  .drag-hovered {
    &.left::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 0;
      top: 0;
      background-color: var(--primary);
    }
    &.right::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      right: 0;
      top: 0;
      background-color: var(--primary);
    }
  }
  
}
