.header {
  padding: 0 10px 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid var(--border);
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;

  @media (min-width: 940px) {
    border-left: 1px solid var(--border);
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    width: 230px;
    overflow: hidden;
  }
}

@media (max-width: 1400px) {
  .header {
    height: 45px;

    .title {
      font-size: 18px;
      width: 160px;
    }
  }
}
