$maxWidthContainer: 1400;

@mixin adapviteValue($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        //faqat containerdan kichik width
        #{$property}: $startSize + px;

        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 1000px) / #{$maxWidthContainer - 1000}));
        }
    }

    @else if $type==2 {
        // faqat containerdan katta width
        #{$property}: $startSize + px;

        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
        }
    }

    @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 375px) / #{$maxWidth - 375}));
    }
}

.mycard {
    border-radius: 12px;
}

.mycard.cardinside {
    padding-top: 0px;
}

.mycard.green {
    background-color: #6cce65 !important;
}

.mycard.orange {
    background-color: #ff9c27;
}

.mycard.purple {
    background-color: #8099f1;
}

.mycard.grey {
    background-color: var(--gray30);
}

.mycard.red {
    background-color: #ff6060;
}

.mycard.black {
    background-color: rgba(0, 0, 0, 0.4);
}


.wrapper {
    @include adapviteValue(padding, 8, 4, 1);
    padding: 6px 12px;
    // padding-top: 2px !important;
    // padding-bottom: 2px !important;
}

.title {
    @include adapviteValue(font-size, 24, 9, 1);
    font-weight: bold;
}

.sub-title {
    @include adapviteValue(font-size, 22, 9, 1);

    svg {
        @include adapviteValue(width, 20, 10, 1);
    }
}

.text {
    @include adapviteValue(font-size, 16, 9, 1);

    
    &.inner {
        @include adapviteValue(font-size, 17, 9, 1);
        font-weight: 700;
    }

    svg {
        @include adapviteValue(width, 20, 10, 1);
    }
}

.text-error {
    @include adapviteValue(font-size, 20, 14, 1);
}

.image {
    svg {
        @include adapviteValue(font-size, 40, 30, 1);
    }
}


@media (max-width: 980px) {
    .title {
        font-size: 14px;
    }

    .sub-title {
        font-size: 14px;

        svg {
            width: 16px;
        }
    }

    .text {
        font-size: 14px;

        &.inner {
            font-size: 10px;
        }

        svg {
            width: 16px;
        }
    }

    .image {
        svg {
            font-size: 25px;
        }
    }
}




@media (max-width: 940px) {
    .wrapper {
        padding: 8px;
        padding-top: 8px !important;
    }

    .title {
        font-size: 18px;
    }

    .sub-title {
        font-size: 16px;

        svg {
            width: 20px;
        }
    }

    .text {
        font-size: 13px;

        svg {
            width: 20px;
        }
    }

    .text-error {
        font-size: 20px;
    }

    .image {
        svg {
            font-size: 40px;
        }
    }
}


@media (min-width: 1440px) {
    .image {
        svg {
            font-size: 40px;
        }
    }
}


@media (min-width: 2500px) {
    .wrapper {
        padding: 12px;
    }

    .title {
        font-size: 24px;
    }

    .sub-title {
        font-size: 20px;

        svg {
            width: 28px;
        }
    }

    .text {
        font-size: 20px;

        svg {
            width: 28px;
        }
    }


    .image {
        svg {
            font-size: 120px;
        }
    }
}

@media (min-width: 3000px) {
    .wrapper {
        padding: 20px;
        padding-top: 20px !important;
    }

    .title {
        font-size: 32px;
    }

    .sub-title {
        font-size: 28px;

        svg {
            width: 50px;
        }
    }

    .text {
        font-size: 28px;

        svg {
            width: 50px;
        }
    }


    .image {
        svg {
            font-size: 120px;
        }
    }
}