.tableOne {
  .header,
  .body {
    .cell {
      min-height: 30px;
      display: flex;
      align-items: center;

      white-space: nowrap;
      // &:first-child {
      //   min-width: 60px;
      // }
      // &:nth-child(2) {
      //   min-width: 300px;
      // }
      // &:nth-child(3) {
      //   min-width: 120px;
      // }
      // &:nth-child(4) {
      //   min-width: 120px;
      // }
      // &:nth-child(5) {
      //   min-width: 100px;
      // }
      // &:nth-child(8) {
      //   min-width: 100px;
      // }
      // &:nth-child(9) {
      //   min-width: 80px;
      // }
      // &:nth-child(10) {
      //   min-width: 100px;
      // }
    }
  }
}
.twoRowTable {
  .header,
  .body {
    .cell {
      min-height: 30px;
      display: flex;
      align-items: center;

      white-space: nowrap;
      // &:nth-child(1) {
      //   min-width: 80px;
      // }
      // &:nth-child(2) {
      //   min-width: 100px;
      // }
      // &:nth-child(3) {
      //   min-width: 100px;
      // }
      // &:nth-child(4) {
      //   min-width: 80px;
      // }
    }
  }
}

.tableOneDetail {
  .header,
  .body {
    .cell {
      min-height: 30px;
      display: flex;
      align-items: center;

      white-space: nowrap;
      // &:first-child {
      //   min-width: 40px;
      // }
      // &:nth-child(2) {
      //   min-width: 260px;
      // }
      // &:nth-child(3) {
      //   min-width: 80px;
      // }
      // &:nth-child(4) {
      //   min-width: 100px;
      // }
      // &:nth-child(8) {
      //   min-width: 70px;
      // }
      // &:nth-child(9) {
      //   min-width: 80px;
      // }
      // &:nth-child(10) {
      //   min-width: 100px;
      // }
    }
  }
}
