.table {
  thead,
  tbody {
    white-space: nowrap;
  }
  thead {
    border-right: 0px !important;
  }
  .cell {
    padding: 0 4px !important;
    border-right: none !important;
    width: 100%;
    border-right: 1px solid var(--border) !important;
    p {
      display: flex;
      align-items: center;
      font-weight: 500;
    }
  }
}

.twoRowTable {
  .header,
  .body {
    .cell {
      min-height: 30px;
      padding: 0 6px;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }
}
